* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, table{
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 200vh;
    background-color: gray;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1;
    background-color: #328cc1;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.1s;
    color: #083c5d;
    background-color: #328cc1;
}

div {
    position: relative;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    width: 85%;
    background-color: white;
    margin: auto;
}

input{
    border-radius: 25px;
    border: 0px;
    background-color: #328cc1;
    padding: 20px;
    width: 15%;
    height: 1em;
    color: black;
}